@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 15px;
}

.title__fz14 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(115, 115, 115);
}
.title__fz16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: rgb(37, 43, 66);
}
.title__fz40 {
  font-size: 40px;
  line-height: 57px;
  font-weight: 700;
  color: rgb(37, 43, 66);
}

.header {
  position: relative;
  width: 100%;
  min-height: 857px;
  padding-bottom: 40px;
  /* background: url("./image/bg.png") center center/ cover no-repeat fixed; */
  background: url("../image/bg.png") center center/cover no-repeat;
}
@media (max-width: 768px) {
  .header {
    background-image: url(../image/mobile-bg.png);
  }
}
.header__box {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .header__box {
    position: relative;
    z-index: 10;
  }
}
.header__top-left {
  display: flex;
  align-items: center;
  -moz-column-gap: 117px;
       column-gap: 117px;
}
.header__logo > h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__menu-block {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(246, 246, 246);
    visibility: hidden;
    transition: all 0.7s;
    padding-top: 150px;
    overflow-y: auto;
    z-index: -1;
  }
  .header__menu-block.active {
    top: 0;
    visibility: visible;
  }
}
.header__menu {
  /* width: 280px; */
  width: clamp(17.5rem, 28.88rem - 12.65vw, 22.81rem);
}
@media (max-width: 768px) {
  .header__menu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header__menu {
    width: 0;
  }
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list > li {
  list-style: none;
}
.header__list > li > a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(115, 115, 115);
  line-height: clamp(2.81rem, 3.19rem - 1.87vw, 1.5rem);
  font-weight: 600;
}
@media (max-width: 992px) {
  .header__list > li > a {
    font-size: clamp(1.13rem, 2.23rem - 1.79vw, 1.88rem);
  }
}
@media (max-width: 768px) {
  .header__list {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }
}
.header__top-right {
  width: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 769px) {
  .header__top-right > img {
    display: none;
  }
}
.header__burger {
  position: absolute;
  top: 45px;
  right: 60px;
  width: 24px;
  height: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.header__burger > span {
  width: 100%;
  height: 3px;
  background-color: rgb(37, 43, 66);
}
.header__burger > span:nth-child(2) {
  width: 70%;
}
.header__burger > span:nth-child(3) {
  width: 40%;
}
@media (max-width: 768px) {
  .header__burger {
    position: static;
  }
}
.header__descripton {
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .header__descripton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.header__title {
  font-size: clamp(2.5rem, 2.18rem + 1.61vw, 3.63rem);
  line-height: clamp(3.56rem, 3.15rem + 2.05vw, 5rem);
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(37, 43, 66);
}
.header__text {
  width: clamp(18.75rem, 17.39rem + 6.79vw, 23.5rem);
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  color: rgb(115, 115, 115);
}
@media (max-width: 768px) {
  .header__text {
    text-align: center;
  }
}
.header :is(.header__title, .header__text) {
  margin-bottom: 35px;
}
.header__btn-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 576px) {
  .header__btn-block {
    justify-content: center;
  }
}
.header :is(.header__btn-price, .header__btn-more) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 185px;
  height: 48px;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  border-radius: 37px;
  text-decoration: none;
}
.header__btn-price {
  background-color: rgb(255, 166, 43);
  color: rgb(255, 255, 255);
}
.header__btn-more {
  color: rgb(0, 160, 193);
  border: 1px solid rgb(0, 160, 193);
}
.header__marketing-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 992px) {
  .header__marketing-box {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .header__marketing-box {
    flex-direction: column;
    align-items: center;
  }
}
:is(.header__marketing-image, .header__marketing-title, .header__marketing-text) {
  margin-bottom: 10px;
}
.header__marketing-cards {
  width: 328px;
  padding: clamp(1.25rem, 0.98rem + 1.34vw, 2.19rem) clamp(0.94rem, 0.67rem + 1.34vw, 1.88rem);
  background-color: rgb(255, 255, 255);
  transition: all 0.5s;
}
@media (max-width: 992px) {
  .header__marketing-cards {
    width: 240px;
  }
}
@media (max-width: 768px) {
  .header__marketing-cards {
    width: 300px;
    flex-shrink: 0;
  }
}
.header__marketing-title {
  font-size: clamp(1.13rem, 1.02rem + 0.54vw, 1.5rem);
  line-height: 32px;
  font-weight: 700;
  color: rgb(37, 43, 66);
}
@media (max-width: 992px) {
  .header__marketing-title {
    font-size: 17px;
  }
}
.header__marketing-text {
  margin-bottom: 0;
}
@media (min-width: 769px) {
  .header__marketing-cards:hover {
    background-color: rgb(0, 160, 193);
  }
}
@media (min-width: 769px) {
  .header__marketing-cards:hover * {
    color: #fff;
    fill: white;
  }
}

.about {
  padding: clamp(2.5rem, 1.79rem + 3.57vw, 5rem) 0;
  background-color: rgb(252, 168, 168);
}
.about__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about__text {
  text-align: center;
  color: rgb(115, 115, 115);
  margin-bottom: 50px;
}
.about__card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .about__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about__card-items {
  width: 240px;
  height: 209px;
  background-color: rgb(255, 255, 255);
  padding: 30px clamp(1.25rem, 0.89rem + 1.79vw, 2.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__card-items :is(img, span) {
  margin-bottom: 10px;
}
.about__card-title {
  color: rgb(115, 115, 115);
  text-transform: uppercase;
}

.practice {
  background-color: rgb(246, 143, 143);
  padding: clamp(3.75rem, 2.68rem + 5.36vw, 7.5rem) 0 clamp(2.5rem, 1.79rem + 3.57vw, 5rem) 0;
}
.practice__title {
  text-align: center;
  margin-bottom: 15px;
}
.practice__text {
  text-align: center;
  margin-bottom: 45px;
}
.practice__card {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 768px) {
  .practice__card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.practice__card-items {
  width: 230px;
}
.practice__card-description {
  background-color: rgb(255, 255, 255);
  padding: clamp(1.25rem, 1.07rem + 0.89vw, 1.88rem);
}
.practice__card-description > .title__fz16 {
  margin-bottom: 15px;
}
.practice__card-image {
  height: 140px;
}
.practice__card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}