.agency {
    padding: 40px 0;
    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            row-gap: 40px;
        }
    }

    &__box-left {
    }

    &__box-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: rgba(37, 43, 66, 1);
        margin-bottom: 10px;
    }

    &__box-text {
    }

    &__box-right {
    }

    &__box-btn {
        padding: 15px 40px;
        background-color: rgba(255, 166, 43, 1);
        border-radius: 5px;
        color: white;
        text-decoration: none;
    }
}
