.title {
    &__fz14 {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        color: rgba(115, 115, 115, 1);
    }
    &__fz16 {
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        color: rgba(37, 43, 66, 1);
    }
    &__fz40 {
        font-size: 40px;
        line-height: 57px;
        font-weight: 700;
        color: rgba(37, 43, 66, 1);
    }
}
